$Lexend-Medium: "Lexend-Medium",
serif;
$Lexend-Light: "Lexend-Light",
serif;
$Lexend-Bold: "Lexend-Bold",
serif;
$Lexend-Regular: "Lexend-Regular",
serif;
$white : #fff;
$primary : #139c91;
$secondary: #087169;