@font-face {
    font-family: Lexend-Medium;
    src: url("../fonts/Lexend/Lexend-Medium.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: Lexend-Light;
    src: url("../fonts/Lexend/Lexend-Light.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: Lexend-Regular;
    src: url("../fonts/Lexend/Lexend-Regular.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: Lexend-Bold;
    src: url("../fonts/Lexend/Lexend-Bold.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}