@import '/src/assets/css/variables';
ion-menu-button {
    color: $primary;
}
ion-title.top-title{
    font-family: $Lexend-Medium;
    color: $primary;
}

#container p{
    line-height: 24px;
    padding: 20px;
    color: $secondary;
}