<app-header [folder]="folder"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-updatebox *ngIf="commonService.isAppUpdated"></app-updatebox>
  <div id="container">
    <h6><span>Today's Date - <span class="blue">{{todayDate}}</span></span></h6>
    <ion-grid class="top-grid">
      <ion-row>
        <ion-col (click)="leftPage()" class="nav-icon" size="1"><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-col *ngFor="let date of dateArr">
              {{date}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col (click)="rightPage()" class="nav-icon" size="1"><ion-icon name="chevron-forward-outline"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>

    <div class="list-row" *ngFor="let center of centerData" (click)="openPopup(center)">
      <h6>{{center?.name+', '+center?.pincode}}</h6>
      <ion-grid class="list-grid">
        <ion-row>
          <ion-col>
            <div *ngIf="center?.sessions[0]" [ngClass]="{'red':center?.sessions[0]?.available_capacity === 0, 'green':center?.sessions[0]?.available_capacity > 0}">
              {{center?.sessions[0]?.available_capacity === 0 ? 'Booked':'Avail - '+center?.sessions[0]?.available_capacity}}
            </div>
            <div *ngIf="center?.sessions[0]"><span>Age - {{center?.sessions[0]?.min_age_limit === 45 ? center?.sessions[0]?.min_age_limit+'+':center?.sessions[0]?.min_age_limit}}</span></div>
            <div *ngIf="!center?.sessions[0]" class="blue">NA</div>
          </ion-col>

          <ion-col>
            <div *ngIf="center?.sessions[1]" [ngClass]="{'red':center?.sessions[1]?.available_capacity === 0, 'green':center?.sessions[1]?.available_capacity > 0}">
              {{center?.sessions[1]?.available_capacity === 0 ? 'Booked':'Avail - '+center?.sessions[1]?.available_capacity}}
            </div>
            <div *ngIf="center?.sessions[1]"><span>Age - {{center?.sessions[1]?.min_age_limit === 45 ? center?.sessions[1]?.min_age_limit+'+':center?.sessions[1]?.min_age_limit}}</span></div>
            <div *ngIf="!center?.sessions[1]" class="blue">NA</div>
          </ion-col>

          <ion-col>
            <div *ngIf="center?.sessions[2]" [ngClass]="{'red':center?.sessions[2]?.available_capacity === 0, 'green':center?.sessions[2]?.available_capacity > 0}">
              {{center?.sessions[2]?.available_capacity === 0 ? 'Booked':'Avail - '+center?.sessions[2]?.available_capacity}}
            </div>
            <div *ngIf="center?.sessions[2]"><span>Age - {{center?.sessions[2]?.min_age_limit === 45 ? center?.sessions[2]?.min_age_limit+'+':center?.sessions[2]?.min_age_limit}}</span></div>
            <div *ngIf="!center?.sessions[2]" class="blue">NA</div>
          </ion-col>

          <ion-col>
            <div *ngIf="center?.sessions[3]" [ngClass]="{'red':center?.sessions[3]?.available_capacity === 0, 'green':center?.sessions[3]?.available_capacity > 0}">
              {{center?.sessions[3]?.available_capacity === 0 ? 'Booked':'Avail - '+center?.sessions[3]?.available_capacity}}
            </div>
            <div *ngIf="center?.sessions[3]"><span>Age - {{center?.sessions[3]?.min_age_limit === 45 ? center?.sessions[3]?.min_age_limit+'+':center?.sessions[3]?.min_age_limit}}</span></div>
            <div *ngIf="!center?.sessions[3]" class="blue">NA</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
